{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить продукт</title>
    <link rel="stylesheet" href="{% static 'myapp/css/Style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Добавить новый продукт</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button class="cancelButton"><a href="{% url 'finishedgoods_list' %}" class="btn btn-secondary">Назад</a></button>
        </form>
    </div>
</body>
</html>
