<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Готовая продукция</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/Style.css' %}">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">MySandwic</a>
                <ul>
                    <li><a href="{% url 'myapp:rawmaterials_list' %}">Сырьё</a></li>
                    <li><a href="{% url 'myapp:finishedgoods_list' %}">Готовая продукция</a></li>
                    <li><a href="{% url 'myapp:units_list' %}">Единицы измерения</a></li>
                    <li><a href="{% url 'myapp:ingredients_list' %}">Ингредиенты</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div class="container">
            <h1>Список готовой продукции</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена за единицу</th>
                        <th>Количество</th>
                        <th>Общая сумма</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for finishedgood in finishedgoods %}
                    <tr>
                        <td>{{ finishedgood.name }}</td>
                        <td>{{ finishedgood.unit_price }}</td>
                        <td>{{ finishedgood.quantity }}</td>
                        <td>{{ finishedgood.totalamount }}</td>
                        <td>
                             <a href="{% url 'myapp:finished_goods_create' %}" class="btn btn-primary">➕</a>
                            <a href="{% url 'myapp:finished_goods_update' finishedgood.pk %}" class="btn btn-warning">✏️</a>
                            <a href="{% url 'myapp:finished_goods_delete' finishedgood.pk %}" class="btn btn-danger">🗑️</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
