{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтвердить удаление</title>
    <link rel="stylesheet" href="{% static 'myapp/css/mainPageStyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>Подтверждение удаления</h1>
        <p>Вы уверены, что хотите удалить продукт "{{ finishedgood.name }}"?</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
        <a href="{% url 'finishedgoods_list' %}" class="btn btn-secondary">Отменить</a>
    </div>
</body>
</html>
