<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список ингредиентов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/Style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">MySandwic</a>
                <ul>
                    <li><a href="{% url 'myapp:rawmaterials_list' %}">Сырьё</a></li>
                    <li><a href="{% url 'myapp:finishedgoods_list' %}">Готовая продукция</a></li>
                    <li><a href="{% url 'myapp:units_list' %}">Единицы измерения</a></li>
                    <li><a href="{% url 'myapp:ingredients_list' %}">Ингредиенты</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Список ингредиентов</h1>
            <table>
                <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Сырьё</th>
                        <th>Количество</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                    <tr>
                        <td>{{ ingredient.productid.name }}</td>
                        <td>{{ ingredient.rawmaterialid.name }}</td>
                        <td>{{ ingredient.quantity }}</td>
                        <td>
                            <a href="{% url 'myapp:ingredient_create' product_id=1 %}">➕</a>
                            <a href="{% url 'myapp:ingredient_update' pk=ingredient.pk %}">✏️</a> |
                            <a href="{% url 'myapp:ingredient_delete' pk=ingredient.pk %}">🗑️</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
</body>
</html>
