{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление Сэндвичами</title>
    <link rel="stylesheet" href="{% static 'myapp/css/Style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">MySandwich</a>
                <ul>
                    <li><a href="{% url 'finishedgoods_list' %}">Готовая продукция</a></li>
                    <li><a href="{% url 'rawmaterials_list' %}">Сырьё</a></li>
                    <li><a href="{% url 'ingredients_list' %}">Ингредиенты</a></li>
                    <li><a href="{% url 'units_list' %}">Единицы измерения</a></li>
                    <li><a href="{% url 'employee_list' %}">Сотрудники</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="ololo">

            <h3 class="mainh3">Выберите нужный раздел для работы с данными...</h3><h2>⮵</h2>
    </div>
    <footer>
        <p>&copy; 2025 MySandwich. Все права защищены.</p>
    </footer>
</body>
</html>
