{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение удаления сырья</title>
    <link rel="stylesheet" href="{% static 'myapp/css/Style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Подтверждение удаления</h1>
        <p>Вы уверены, что хотите удалить сырьё: <strong>{{ rawmaterial.name }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn delete-btn">Удалить</button>
            <button class="cancelButton"><a href="{% url 'rawmaterials_list' %}" class="btn cancel-btn">Отмена</a></button>
        </form>
    </div>
</body>
</html>
