<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сырьё</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/Style.css' %}">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">MyApp</a>
                <ul>
                    <li><a href="{% url 'myapp:rawmaterials_list' %}">Сырьё</a></li>
                    <li><a href="{% url 'myapp:finishedgoods_list' %}">Готовая продукция</a></li>
                    <li><a href="{% url 'myapp:units_list' %}">Единицы измерения</a></li>
                    <li><a href="{% url 'myapp:ingredients_list' %}">Ингредиенты</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div class="container">
            <h1>Список сырья</h1>
            <a href="{% url 'myapp:raw_material_create' %}" class="btn btn-primary">Добавить новое сырьё</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Единица измерения</th>
                        <th>Цена за единицу</th>
                        <th>Количество</th>
                        <th>Общая сумма</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rawmaterial in page_obj %}
                    <tr>
                        <td>{{ rawmaterial.name }}</td>
                        <td>{{ rawmaterial.unitid.unitname }}</td>
                        <td>{{ rawmaterial.unit_price }}</td>
                        <td>{{ rawmaterial.quantity }}</td>
                        <td>{{ rawmaterial.totalamount }}</td>
                        <td>
                            <a href="{% url 'myapp:raw_material_update' rawmaterial.pk %}" class="btn btn-warning">Редактировать</a>
                            <a href="{% url 'myapp:raw_material_delete' rawmaterial.pk %}" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <span class="prev">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Первая</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                </span>
                <span class="next">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </main>
</body>
</html>
