<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Единицы измерения</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/Style.css' %}">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="logo">MySandwic</a>
                <ul>
                    <li><a href="{% url 'myapp:rawmaterials_list' %}">Сырьё</a></li>
                    <li><a href="{% url 'myapp:finishedgoods_list' %}">Готовая продукция</a></li>
                    <li><a href="{% url 'myapp:units_list' %}">Единицы измерения</a></li>
                    <li><a href="{% url 'myapp:ingredients_list' %}">Ингредиенты</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div class="container">
            <h1>Список единиц измерения</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in units %}
                    <tr>
                        <td>{{ unit.unitname }}</td>
                        <td>
                            <a href="{% url 'myapp:unit_create' %}" class="btn btn-primary">➕</a>
                            <a href="{% url 'myapp:unit_update' unit.pk %}" class="btn btn-warning">✏️</a>
                            <a href="{% url 'myapp:unit_delete' unit.pk %}" class="btn btn-danger">🗑️</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
